/* PRELOADER CSS */

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #13693a;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  /* box-shadow: 0 0 1px rgb(0, 0, 0); */
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-bottom: 4px solid #8cbf44;
  border-left: 4px solid transparent;
  /* box-shadow: 0 0 1px rgb(0, 0, 0); */
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HEADER CSS */
details[open] .downarrow {
  @apply rotate-180;
}

.bottom-header {
  background: linear-gradient(33deg, #13693a, #8cbf44, #13693a);
}

.nav-link:hover .submenu {
  @apply block;
}

.submenu {
  @apply hidden;
}

.submenu.active {
  @apply hidden;
}

.nav-link .submenu:nth-child(6) {
  @apply right-0;
}

/* SWIPER SLIDER CUSTOM CSS */
.slider-container .swiper-pagination {
  bottom: 0 !important;
}

.slider-container .swiper-pagination-bullet-active {
  background: #8cbf44;
}

.custom-next svg,
.custom-prev svg {
  background: linear-gradient(33deg, #13693a, #8cbf44);
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #ffffff;
  color: white;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.products-container-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 85px 1fr;
}

.sort-product-tab-section {
  grid-column: 2 / 3;
}

.filter-product-sidebar {
  grid-column: 1 / 2;
}

.category-wise-all-product {
  grid-column: 2 / 3;
}

.wishlist-icon {
  box-shadow: 2px 2px 5px rgb(199, 197, 197) inset;
}

.product_image_skeleton {
  position: relative;
  animation: skeleton 2s linear infinite alternate;
}



.product_img_nav .slide_image{
  width: 100%;
}
.product_img_nav .slide_image img {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.small_image .slide_image{
  padding: 10px;
}

.product_spec .heading{
  background: linear-gradient(33deg, #13693a, #8cbf44);
}

.product_spec ul li{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

.product_spec ul li:nth-child(2n + 1){
  background-color: whitesmoke;
}

@keyframes skeleton {
  0% {
    background: white;
  }
  50% {
    background: #8cbf444f;
  }
  100% {
    background: white;
  }
}

@media (max-width: 992px) {
  .kv-logo {
    position: absolute;
    top: 5px;
  }

  .categories::-webkit-scrollbar,
  .populer-brand-list::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none;
  }

  .submenu {
    position: initial;
  }
  .submenu-child {
    width: fit-content;
    text-wrap: nowrap;
    padding: 1rem;
  }
  .nav-menus {
    position: fixed;
    width: 80%;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(33deg, #13693a, #8cbf44, #13693a);
    inset: 0 0 0 -100%;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    transition: 0.5s ease-in-out;
  }
  .nav-menus.active {
    inset: 0;
  }

  .products-container-wrapper {
    display: initial;
  }

  .filter-headeing {
    background: linear-gradient(33deg, #13693a, #8cbf44, #13693a);
  }

  .filter-product-sidebar {
    width: 100%;
    background-color: white;
    position: fixed;
    left: -100%;
    height: 100%;
    top: 0;
    z-index: 99;
    transition: 0.5s;
    overflow-y: auto;
    padding: 10px;
  }

  .filter-product-sidebar.active {
    left: 0;
  }

  .sort-product-tab-section > div {
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
    bottom: -100%;
    z-index: 9;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 10px black;
    transition: 0.5s;
  }

  .sort-product-tab-section > div.active {
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .kv-logo {
    position: initial;
  }
  .products-container-wrapper {
    display: initial;
  }

  .filter-headeing {
    background: linear-gradient(33deg, #13693a, #8cbf44, #13693a);
  }

  .filter-product-sidebar {
    width: 100%;
    background-color: white;
    position: fixed;
    left: -100%;
    height: 100%;
    top: 62px;
    z-index: 10;
    transition: 0.5s;
    overflow-y: auto;
    padding: 10px 10px 100px 10px;
  }

  .filter-product-sidebar.active {
    left: 0;
  }

  .sort-product-tab-section > div {
    position: fixed;
    width: 100%;
    left: 0;
    margin: 0;
    bottom: -100%;
    z-index: 999;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 10px black;
    transition: 0.5s;
  }

  .sort-product-tab-section > div.active {
    bottom: 0;
  }

  .product_img_nav .slide_image{
    flex-shrink: 0;
  }
  .product_img_nav .slide_image img {
    height: 50px;
    width: 100px;
  }

}

.category,
.category img {
  transition: 0.5s;
}

.category:hover img {
  box-shadow: 5px 5px 10px rgb(207, 206, 206);
}

.category-header__title h3 {
  clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);
  background: linear-gradient(33deg, #13693a, #8cbf44);
}

.category-tab.data-\[state\=active\]\:bg-background[data-state="active"],
.location-and-price {
  background: linear-gradient(33deg, #13693a, #8cbf44);
  color: white;
}

.product-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 10px 25px;
}

.footer__social_icons a {
  @apply border p-2 rounded;
}

.footer__social_icons a:hover,
.sell__links a:hover,
.buy__links a:hover,
.rent__links a:hover {
  @apply scale-95 text-lightgreen transition-all duration-200;
}

.sell__links a,
.buy__links a,
.rent__links a {
  @apply block;
}

.mobile-nav__sell--rent--btn {
  color: white;
  padding: 10px;
  border-radius: 50%;
  border: 8px solid white;
  /* box-shadow: 0 0 5px rgb(163, 162, 162); */
  animation: animateGradient forwards 2s infinite linear;
}

/* .weather-section-homepage{
  background: linear-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.37));
} */

.rent-sell-btn a {
  box-shadow: 5px 5px 0px white;
}

@keyframes animateGradient {
  0% {
    background: linear-gradient(0deg, #13693a, #8cbf44);
    scale: 1;
  }
  50% {
    background: linear-gradient(180deg, #13693a, #8cbf44);
    scale: 1.05;
  }
  100% {
    background: linear-gradient(0deg, #13693a, #8cbf44);
    scale: 1;
  }
}
